/* Custom Utilities */

.text-primary        {  color: @brand-primary;    }
.text-secondary        {  color: @brand-secondary;    }
.text-white       {  color: #fff;           }

.bg-primary        {  background-color: @brand-primary;  }
.bg-secondary        {  background-color: @brand-secondary;  }
.bg-white       {  background-color: #fff;         }


@media only screen and (max-width: @screen-sm) {
  .text-center-xs  {
    text-align: center;
  }
}

a.link-unstyled {
  color: inherit;
  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
  }
  &:focus {
    .tab-focus();
  }
}

.img-fill {
  width: 100%;
  height: auto;
}
