/* Start Custom Styles */

// Type
//////////////////////////////////////////////////////

h1, .h1 {
  font-feature-settings: "liga";
  font-size: 13em;
  font-variant: common-ligatures;
  font-weight: 700;
  line-height: .9;
  margin-top: .4em;
  @media screen and (min-width: 1241px) {
    font-size: 13em;
  }
  @media screen and (max-width: 1240px) {
    font-size: 10em;
  }
  @media screen and (max-width:847px) {
    font-size: 9em;
  }
  @media screen and (max-width:800px) {
    font-size: 8em;
  }
  @media screen and (max-width:694px) {
    font-size: 4.5em;
  }
}

h3, .h3 {
  font-family: @font-family-serif;
  font-size: 2.6em;
  font-weight: 200;
  letter-spacing: .15em;
  line-height: 1.6;
  margin-bottom: 1.1em;
  margin-top: 1.1em;
  text-transform: uppercase;
  @media screen and (max-width: @screen-sm) {
    font-size: 2.3em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: .5em;
  }
}

h4, .h4 {
  font-size: 1.6em;
  letter-spacing: .02em;
  line-height: 1.8;
  margin-bottom: 1em;
  margin-top: 1em;
  @media screen and (max-width: @screen-sm) {
    font-size: 1.7em;
    line-height: 1.6;
  }
}

h5,
.h5 {
    font-family: @font-family-serif;
    font-size: 1.6em;
    font-style: italic;
    font-weight: 200;
    letter-spacing: .15em;
    margin: 1em 0 .4em;
    text-transform: uppercase;
    @media screen and (max-width: 1160px) {
        font-size: 1.4em;
    }
    @media screen and (max-width: 1050px) {
        font-size: 1.2em;
    }
    @media screen and (max-width: 884px) {
        font-size: 1.1em;
    }
    @media screen and (max-width: @screen-sm) {
        font-size: 1.7em;
    }
}


h6, .h6 {
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  line-height: 1.4;
  margin-top: 1em;
  @media screen and (max-width: 1250px) {
    font-size: 1.1em;
    line-height: 2;
  }
  @media screen and (max-width: 1161px) {
    font-size: 1em;
  }
  @media screen and (max-width: 1075px) {
    font-size: .9em;
  }
  @media screen and (max-width: 983px) {
    font-size: .85em;
  }
  @media screen and (max-width: 881px) {
    font-size: 1.2em;
  }
}

cite {
  font-family: @font-family-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: .08em;
}

p {
  font-size: 1.3em;
  letter-spacing: .04em;
  line-height: 1.7;
  margin: 0 0 1em;
  font-weight: 500;
}

a,
a:hover,
a:focus {
  transition: all 200ms ease-in-out;
}



// Buttons
//////////////////////////////////////////////////////
.btn {
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .25em;
  line-height: 1.3;
  text-transform: uppercase;
  @media screen and (max-width: @screen-sm) {
    font-size: 19px;
  }
}

.btn-primary {
  border-width: 3px;
}

.btn-ghost {
  color: @brand-primary;
  background-color: transparent;
  border: 4px solid @brand-primary;

  &:focus,
  &.focus {
    color: white;
    background-color: @brand-primary;
        border-color: @brand-primary;
  }
  &:hover {
    color: white;
    background-color: @brand-primary;
        border-color: @brand-primary;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: white;
    background-color: @brand-primary;
        border-color: @brand-primary;

    &:hover,
    &:focus,
    &.focus {
      color: white;
      background-color: @brand-primary;
          border-color: @brand-primary;
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: transparent;
          border-color: @brand-primary;
    }
  }
  .badge {
    color: transparent;
    background-color: @brand-primary;
  }
}

.btn-ghost-white {
  color: white;
  background-color: transparent;
  border: 4px solid white;

  &:focus,
  &.focus {
    color: @gray-darker;
    background-color: white;
        border-color: white;
  }
  &:hover {
    color: @gray-darker;
    background-color: white;
        border-color: white;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @gray-darker;
    background-color: white;
        border-color: white;

    &:hover,
    &:focus,
    &.focus {
      color: @gray-darker;
      background-color: white;
          border-color: white;
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: transparent;
          border-color: white;
    }
  }
  .badge {
    color: transparent;
    background-color: white;
  }
}

.button-group {
  margin: 3.5em 0;
  position: relative;
  z-index: 3;
  .btn:first-child {
    margin-right: 1em;
    @media (max-width: 767px){
      margin-right: 2em;
      padding: .8em 2.5em;
    }
    @media (max-width: 410px){
      margin-right: 2em;
    }
  }
  .btn {
    margin-bottom: 1em;
    @media (max-width:777px){
      margin-right: 2em;
    }
  }
  @media screen and (max-width: @screen-sm) {
    margin: 2.5em 0;
  }
}



// Layout
//////////////////////////////////////////////////////
.container {
  max-width: 100%;
  padding: 0 11.5%;
  width: 100%;
  position: relative;
  @media screen and (max-width:940px) {
    padding: 0 9%;
  }
}

.master-container {
  width: 100%;
  overflow: hidden;
}


// Misc.
//////////////////////////////////////////////////////
.separator {
  height: auto;
  margin: 23px 0;
  max-width: 100%;
}

.underline-yellow {
  position: relative;
  &:after {
    content: "";
    background: @brand-secondary;
    bottom: 0;
    height: 11px;
    left: -3px;
    position: absolute;
    right: 5px;
    z-index: -1;
  }
}



// Navigation
//////////////////////////////////////////////////////
.navigation-container {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  @media screen and (max-width: @screen-sm) {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
  .clearfix();
  .navigation {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 69%;
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
  }
  .logo {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 30%;
    @media screen and (max-width: @screen-sm) {
      text-align: center;
      width: 100%;
      img {
        width: 230px;
        height: 146px;
        margin-left: auto;
      }
    }
  }
  .navigation-item {
    display: inline;
  }
  a {
    color: @gray-base;
    font-family: @font-family-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .1em;
    padding: 2em 3em 2em 0;
    text-transform: uppercase;
    @media screen and (max-width: 908px) {
      padding-right: 1em;
    }
    &:hover {
      color: @gray-light;
      text-decoration: none;
    }
    &:focus {
      color: @brand-primary;
      text-decoration: none;
    }
  }
  // Navigation shape - Light Gray Background
  .shape-navigation {
    background-color: #f6f6f6;
    position: absolute;
    height: 420px;
    width: 100%;
    left: -5%;
    top: -85%;
    -webkit-transform: skew(-69deg,-6deg) rotate(-5deg);
    transform: skew(-69deg,-6deg) rotate(-2deg);
    z-index: -1;
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
    @media screen and (min-width: @screen-xl) {
      left: -15%;
      top: -65%;
    }
  }
  .shape-navigation-filler {
    background-color: #f6f6f6;
    position: absolute;
    width: 50%;
    height: 120px;
    left: 0;
    top: 0;
    z-index: -1;
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
  }
}





// Home - First section
//////////////////////////////////////////////////////
.container-first {
  @media screen and (max-width: @screen-sm) {
    h3 {
      font-weight: 400;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // Geo shapes in first section
  .home-geo-1 {
    position: absolute;
    top: 2em;
    left: 3%;
    @media screen and (max-width: @screen-sm) {
    top: -6em;
    }
  }

  .home-geo-2 {
    position: absolute;
    bottom: -5em;
    right: 5%;
    z-index: 2;
    @media screen and (max-width: @screen-sm) {
      right: -1em;
      bottom: -3em;
      img {
        width: 90px;
        height: auto;
      }
    }
  }

  // White items that cover up the gray container
  .shape-gray-top-1 {
    background-color: white;
    height: 70px;
    transform: rotate(-3deg);
    position: absolute;
    width: 120%;
    left: -45%;
    bottom: -50px;
    z-index: 1;
    @media screen and (max-width: @screen-sm) {
      left: 0;
      right: 0;
      bottom: 1em;
    }
  }
  .shape-gray-top-2 {
    background-color: white;
    height: 70px;
    transform: rotate(6deg);
    position: absolute;
    width: 120%;
    right: -55%;
    bottom: -50px;
    z-index: 1;
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
  }
}


// Home - What We Do Section / Gray Section
//////////////////////////////////////////////////////
.container-gray {
  background-image: url('../img/dark_wall_@2X.jpg');
  color: white;
  padding-top: 8em;
  padding-bottom: 8em;
  .separator {
    margin-bottom: 5px;
  }
  .home-geo-3 {
    position: absolute;
    top: 21em;
    left: .5%;
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
  }
  @media screen and (max-width: @screen-sm) {
    margin-top: -3em;
    padding-top: 3em;
  }
  h4 { // makes it so it goes on top of home-geo-4 on mobile
    position: relative;
    z-index: 4;
  }
}




// Home - Blue Section
//////////////////////////////////////////////////////
.container-blue {
  background: @brand-primary;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  h4 {
    position: relative;
    z-index: 3;
    margin-top: 2.1em;
    font-size: 1.3em;
  }

  // shape Blue Top
  .shape-blue-top{
    background: @brand-primary;
    position: absolute;
    top: -20px;
    height: 100px;
    left: -50%;
    right: -50px;
    transform: rotate(-3deg);
    z-index: 1;
    overflow: hidden;
    @media screen and (min-width: @screen-xl) {
      transform: rotate(-1deg);
    }
  }
  // shape Black top
  .shape-black-top {
    width: 100%;
    height: 40px;
    position: relative;
    background: black;
    transform: rotate(-2deg);
    left: -18%;
    top: -15px;
    z-index: 1;
    @media screen and (max-width: @screen-sm) {
      left: 0;
      top: -17px;
    }
  }
  // shape Blue bottom
  .shape-blue-bottom {
    background: @brand-primary;
    position: absolute;
    bottom: -20px;
    height: 100px;
    left: -50%;
    right: -50px;
    transform: rotate(3deg);
    z-index: 0;
    @media screen and (min-width: @screen-xl) {
      transform: rotate(1deg);
    }
  }
  // geo in the blue section
  .home-geo-4 {
    position: absolute;
    right: -160px;
    top: -157px;
    z-index: 2;
    @media screen and (max-width: @screen-sm) {
      right: -290px;
      top: -344px;
    }
  }
  @media screen and (max-width: @screen-sm) {
    .visible-xs {
      display: inline!important;
    }
  }

}






// Home - Clients
//////////////////////////////////////////////////////
.container-clients {
  padding-top: 4em;
  .home-geo-5 {
    position: absolute;
    top: 21em;
    left: 1em;
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
  }
  .client-logos-row {
    font-size: 0;
    text-align: center;
    .img-container {
      display: inline-block;
      font-size: @font-size-base;
      padding: 4%;
      vertical-align: middle;
      width: 25%;
      @media (max-width: @screen-md) {
        width: 33%;
      }
      @media (max-width: @screen-sm) {
        width: 50%;
        margin-bottom: 2em;
      }
      @media (max-width: @screen-xs) {
        width: 100%;
      }
    }
    img {
      height: auto;
      width: 100%;
      max-width: 290px;
      @media (max-width: 1280px){
        max-width: 160px;
      }
    }
  }
}




// Home - Testimonial Section
//////////////////////////////////////////////////////
.container-testimonial {
  background-image: url('../img/b_w_lines.jpg');
  background-size:cover;
  margin-bottom: 1em;
  margin-top: 7em;
  text-align: center;
  .testimonial {
    background-image: url('../img/blue_watercolor_sm.jpg');
    background-size:cover;
    color: white;
    margin: 7em auto;
    max-width: 740px;
    padding: 4em;
    width: 95%;
    transform: perspective(14em) rotateX(4deg) skew(5deg);
    @media screen and (max-width: @screen-sm) {
      padding: 3em 1em 2em;
      margin: 2.5em auto;
      width: 100%;
      transform: perspective(18em) rotateX(6deg) skew(1deg);
    }
  }
  .testimonial-inner {
    transform: perspective(14em) rotateX(-4deg) skew(-5deg);
    h4 {
      margin-top: 0;
      letter-spacing: .05em;
      @media screen and (max-width: @screen-sm) {
        font-size: 1.5em;
      }
    }
    cite {
      font-size: 1.1em;
      line-height: 2;
    }
    @media screen and (max-width: @screen-sm) {
      transform: perspective(18em) rotateX(-6deg) skew(-1deg);
    }

  }
}


// Home - Who We Are Section
//////////////////////////////////////////////////////
.container-team {
  padding-bottom: 2em;
  .item-team {
    text-align: center;
    margin-bottom: 3em;
    &:first-child {
      padding-right: 70px;
      @media (max-width: @grid-float-breakpoint) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    &:nth-child(2) {
      padding-left: 70px;
      @media (max-width: @grid-float-breakpoint) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  .img-team {
    display: block;
    height: auto;
    margin: 4em auto;
    max-width: 260px;
    width: 100%;
    &:first-child{
      margin-top: 2em;
    }
  }
  h3 {
    font-weight: 400;
    font-size: 1.3em;
    font-style: italic;
    text-transform: none;
    margin: 3em 0;
    letter-spacing: .1em;
    line-height: 1.6;
  }
  p {
    margin: 2em 0;
    text-align: left;
  }
  .social-icon {
    margin: 0 .3em;
  }
  .home-geo-6 {
    position: absolute;
    top: 1.5em;
    right: 4em;
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
  }
  .home-geo-7 {
    position: absolute;
    left: 1em;
    bottom: 4em;
    @media screen and (max-width: @screen-md) {
      right: -2em;
      left: auto;
      bottom: 2em;
    }
  }
}



// Yellow Section
//////////////////////////////////////////////////////
.container-yellow {
  background-color: @brand-secondary;
  padding-top: 8em;
  padding-bottom: 8em;
  position: relative;
  z-index: 1;
  h4 {
    font-weight:  500;
    @media screen and (max-width: @screen-sm) {
      font-size: 2.3em;
      line-height: 1.4;
    }
  }
  .shape-yellow-top {
    background-color: #fff;
    height: 70px;
    left: 0;
    position: absolute;
    right: 0;
    top: -33px;
    transform: rotate(2deg);
    width: 100%;
    z-index: 1;
    @media screen and (min-width: @screen-xl) {
      transform: rotate(1deg);
    }
  }
  .shape-yellow-bottom {
    background-color: @brand-secondary;
    height: 90px;
    position: absolute;
    right: -12em;
    bottom: -1em;
    transform: rotate(10deg);
    width: 40%;
    z-index: 1;
  }
  @media screen and (max-width: @screen-sm) {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}


// Footer
//////////////////////////////////////////////////////

.home-geo-8 {
  position: absolute;
  transform: rotate(-30deg);
  right: 0;
  top: 0em;
  z-index: 1;
  @media screen and (max-width: @screen-sm) {
    transform: rotate(165deg);
    bottom: 0;
    right: -12em;
    img {
      width: 600px;
      height: auto;
    }
  }
}




footer {
  background-image: url('../img/dark_wall_@2X.jpg');
  padding: 7em 0 5em;
  position: relative;
  p {
    color: @gray-light;
    font-family: @font-family-serif;
    font-style: italic;
    font-weight: 200;
    letter-spacing: .08em;
    line-height: 1.6;
    display: inline-block;
    font-size: 1.1em;
    position: relative;
    z-index: 5;
  }
  .logo {
    margin-right: 1em;
  }
  .social-icon-container {
    display: inline-block;
    position: relative;
    z-index: 5;
  }
  .social-icon {
    margin: 0 .5em;
  }
  .icon-scrollTop {
    float: right;
    position: relative;
    z-index: 5;
  }
  .shape-black-bottom {
    background-color: #000;
    height: 60px;
    position: absolute;
    top: -3.3em;
    transform: rotate(-2deg);
    width: 100%;
    left: 0;
    z-index: 0;
  }
  @media screen and (max-width: 1007px) {
    text-align: center;
    .icon-scrollTop {
      float: none;
      display: block;
      margin: 3.5em auto;
      img {
        width: 50px;
        height: auto;
      }
    }
    .logo {
      margin-bottom: 2em;
      width: 80px;
      height: auto;
    }
  }
  @media screen and (max-width: 860px) {
    .social-icon-container {
      display: block;
    }
  }
}



//Workshops Styles
//////////////////////////////////////////////////////
.container-workshop-first {
  padding-bottom: 1em;

  .workshop-geo-1 {
    position: absolute;
    right: 4em;
    top: 24em;
    @media screen and (max-width: @screen-md) {
      top: -2em;
      right: 2em;
      img {
        width: 60px;
        height: auto;
      }
    }
  }
}


//Blue background section
//////////////////////////////////////////////////////
.container-workshops-blue{
  background-image: url('../img/blue_watercolor_lg.jpg');
  color:white;
  padding-top: 7em;
  padding-bottom: 8em;
  transform: skew(0deg, -3deg);
  .workshops-blue-inner {
    transform: skew(0deg, 3deg);
  }
  h3 {
    padding-right: 5em;
    @media screen and (max-width: @screen-sm) {
      padding-right: 0;
    }
  }
  .shape-white-top-1 {
    background-color: #fff;
    height: 9em;
    left: -6%;
    position: absolute;
    top: -6em;
    transform: rotate(-20deg);
    width: 20em;
  }
  .workshop-geo-2 {
    position: absolute;
    right: 0;
    top: -3em;
    @media screen and (max-width: @screen-sm) {
      right: -12em;
    }
  }
  @media screen and (max-width: @screen-sm) {
    padding-top: 5em;
    padding-bottom: 2em;
  }
}

// Small Black section under blue on workhops page
.container-black {
  background-color: #000;
  margin-top: -4em;
  position: relative;
  z-index: -1;
  @media screen and (max-width: @screen-sm) {
    margin-top: -5em;
  }
  @media screen and (min-width: @screen-xl) {
    margin-top: -5em;
    position: relative;
    z-index: -1;
    height: 110px;
  }
}

// Workshops w/ yellow items
//////////////////////////////////////////////////////
.container-workshops{
  padding-top: 5em;
  h1 {
    line-height: .6;
    small {
      color: black;
      display: block;
      font-weight: 500;
      font-size: .6em;
    }
  }
  h3{
    font-weight: 400;
    font-size: 1.3em;
    font-style: italic;
    text-transform: none;
    margin: 3em 0;
    letter-spacing: .1em;
    line-height: 1.6;
  }
  h6 {
    font-weight: 600;
  }
  ul{
    list-style: none;
    padding-left: 0;
  }
  li{
    font-size: 1.3em;
    line-height: 1.6;
    padding-left: 1.5em;
    @media (max-width:800px){
      padding-left: 3em;
    }
    @media (max-width:527px){
      padding-left: 2.2em;
    }
  }
  ul li:before{
    content:"•";
    left: 60px;
    position: absolute;
      @media (max-width:800px){
        left: 50px;
      }
      @media (max-width:527px){
        left: 33px;
      }
    }
  .item-yellow-1,
  .item-yellow-2 {
    padding: 2em 3em;
    background-size: 100% 100%;
    position: relative;
    z-index: -2;
    @media screen and (max-width: @screen-sm) {
      padding: 2em 1.2em;
    }
  }

  .item-yellow-1{
    background-image: url('../img/yellow-1.png');
  }
  .item-yellow-2{
    background-image: url('../img/yellow-2.png');
  }
  .workshop-geo-3 {
    position: absolute;
    top: -3em;
    left: 2em;
    @media screen and (max-width: @screen-sm) {
      top: -4em;
      left: -3em;
      img {
        width: 100px;
        height: auto;
      }
    }
  }
  .workshop-geo-4 {
    position: absolute;
    top: 37em;
    left: 2em;
    @media screen and (max-width: @screen-sm) {
      display: none;
    }
  }
  .workshop-geo-5 {
    position: absolute;
    bottom: 4em;
    right: 2em;
    @media screen and (max-width: @screen-md) {
      bottom: 14em;
      right: -.5em;
      img {
        width: 95px;
        height: auto;
      }
    }
  }
  .col-xs-12 {
    padding-top: .5em;
    padding-bottom: .5em;
    @media screen and (max-width: @screen-sm) {
      padding: .5em 0;
    }
  }
}

// Workshops Page Testimonial Section
.container-stripe {
  background-image: url('../img/b_w_lines.jpg');
  background-size:cover;
  margin-bottom: 1em;
  text-align: center;
  position: relative;
  z-index: 2;
  @media screen and (max-width: @screen-sm) {
    margin-top: 0;
    padding: 0 4%;
  }
  .container-stripe-inner {
    background-color: white;
    margin: 8em auto;
    max-width: 700px;
    padding: 4em 0 3em;
    width: 95%;
    transform: rotate(-2deg);
    position: relative;
    border-left: 20px solid white;
    @media screen and (max-width: @screen-sm) {
      padding: 2em;
      margin: 4em 0;
    }
    &:after {
      content: "";
      background-color: white;
      position: absolute;
      top: 73px;
      bottom: 0;
      right: -62px;
      transform: rotate(152deg) skewY(-45deg);
      z-index: -1;
      width: 121px;
      height: 105px;
      @media screen and (max-width: @screen-md) {
        right: -52px;
        height: 79px;
        width: 115px;
      }
      @media screen and (max-width: @screen-sm) {
        right: -56px;
        height: 117px;
        width: 120px;
      }
    }
    h4 {
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 0em;
      letter-spacing: .05em;
      transform: rotate(2deg);
    }
    .button-group{
      margin-bottom: 0;
      transform: rotate(2deg);
    }
  }
  @media (max-width:725px){
    margin-top: 2em;
    h4{
      font-size: 29px;
      padding: 0!important;
      line-height: 1.4;
    }
    .testimonial {
    margin: 3em auto;
    padding: 1.5em;
    }
  }
}

// Small Blue section under testimonials section on workshops page
.shape-blue {
  background-color: @brand-primary;
  height: 90px;
  transform: rotate(2deg);
  top: -6em;
  position: relative;
  width: 110%;
  left: -1em;
  z-index: 1;
}


.footer-workshops {
  position: relative;
  top: -8em;
  margin-bottom: -8em;
  .container {
    position: relative;
    z-index: 15;
  }
}

.workshop-geo-6 {
  position: absolute;
  bottom: -3em;
  right: 0em;
  z-index: 2;
  @media screen and (max-width: 1007px) {
    bottom: -15em;
    right: -11em;
    img {
      width: 550px;
      height: auto;
    }
  }
}

.underline-white {
  position: relative;
  &:before {
    content: "";
    background:white;
    bottom: -3px;
    height: 11px;
    left: -3px;
    position: absolute;
    right: 5px;
    z-index: -1;
  }
}
