/* Start Custom Styles */

/* Make Bootstrap Go Full Width */
.container {
  max-width: 100%;
  padding: 0 5%;
  width: 100%;
}

.separator {
  height: auto;
  margin: 23px 0;
  max-width: 100%;
}

.underline-yellow {
  position: relative;
  &:after {
    content: "";
    background: @brand-secondary;
    bottom: 3px;
    height: 11px;
    left: -3px;
    position: absolute;
    right: 5px;
    z-index: -1;
  }
}

.button-group {
  margin: 3.5em 0;
  .btn:first-child {
    margin-right: 1em;
  }
  .btn {
    margin-bottom: 1em;
  }
}

// Navigation
.navigation-container {
  padding-top: 3.5em;
  padding-bottom: 2em;
  .clearfix();
  .navigation {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 69%;
  }
  .logo {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 30%;
  }
  .navigation-item {
    display: inline;
  }
  a {
    color: @gray-base;
    font-family: @font-family-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .1em;
    padding: 2em 3em 2em 0;
    text-transform: uppercase;
    &:hover {
      color: @gray-light;
      text-decoration: none;
    }
    &:focus {
      color: @brand-primary;
      text-decoration: none;
    }
  }
}


// Home - What We Do Section
.container-what {
  background-image: url('../img/dark_wall_@2X.jpg');
  color: white;
  .separator {
    margin-bottom: 5px;
  }
  @media (max-width:535px){
    h4{
      margin-bottom: 2em;
    }
  }
}


// Home - Blue Section
.container-blue {
  background: @brand-primary;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  h4 {
    font-size: 25px;
  }
}

// Our Clients
.client-logos-row {
  font-size: 0;
  .img-container {
    display: inline-block;
    font-size: @font-size-base;
    padding: 4%;
    vertical-align: middle;
    width: 25%;
    @media (max-width: @screen-md) {
      width: 50%;
    }
  }
  img {
    height: auto;
    width: 100%;
    max-width: 290px;
  }
}

a,
a:hover,
a:focus {
  transition: all 200ms ease-in-out;
}

// Testimonial Section
.testimonial-container {
  background-image: url('../img/b_w_lines.jpg');
  background-size:cover;
  margin-bottom: 1em;
  margin-top: 7em;
  text-align: center;
  .testimonial {
    background-image: url('../img/blue_watercolor_sm.jpg');
    background-size:cover;
    color: white;
    margin: 8em auto;
    max-width: 900px;
    padding: 4em;
    width: 95%;
    h4 {
      margin-top: 0;
      letter-spacing: .05em;
    }
  }
  @media (max-width:725px){
    margin-top: 2em;
    h4{
      font-size: 23px;
      padding: 0!important;
      line-height: 1.4;
    }
    cite{
      font-size: 15px;
    }
    .testimonial {
    margin: 3em auto;
    padding: 2em;
    }
  }
}

// Who We Are
.container-who {
  padding-bottom: 2em;
  .item-who {
    text-align: center;
    &:first-child {
      padding-right: 90px;
      @media (max-width: @grid-float-breakpoint) {
        padding-right: 25px;
      }
    }
    &:nth-child(2) {
      padding-left: 90px;
      @media (max-width: @grid-float-breakpoint) {
        padding-left: 25px;
      }
    }
    .img-who {
      display: block;
      height: auto;
      margin: 4em auto;
      max-width: 260px;
      width: 100%;
    }
    .underline-yellow:after {
      bottom: 0px;
    }
    p {
      margin: 2em 0;
      text-align: left;
    }
  }
  .social-icon {
    margin: 0 .3em;
  }
  h3 {
    font-weight: 200;
    font-size: 22px;
    font-style: italic;
    text-transform: none;
    margin: 3em 0;
    letter-spacing: .1em;
  }
}


// Yellow Section
.container-yellow {
  background-color: @brand-secondary;
  padding-top: 8em;
  padding-bottom: 8em;
  position: relative;
  z-index: -1;
  h4 {
    font-weight:  500;
  }
  @media (max-width:740px) {
    padding-top: 0;
    padding-bottom: 4em;
  }
}


// Footer
footer {
  background-image: url('../img/dark_wall_@2X.jpg');
  padding: 11em 0 9em;
  p {
    color: @gray-light;
    font-family: @font-family-serif;
    font-size: 19px;
    font-style: italic;
    font-weight: 200;
    letter-spacing: .08em;
    line-height: 1.6;
    display: inline-block;
  }
  .logo {
    margin-right: 1em;
  }
  .social-icon {
    margin: 0 .5em;
  }
  .icon-scrollTop {
    float: right;
  }
  @media (max-width:580px){
  padding: 5em 0 9em;
  p{
    margin: 25px 64px 1em;
  }
  }
}



//Workshops Styles

//Blue background section
.container-workshops-blue{
  background-image: url('../img/blue_watercolor_lg.jpg');
  color:white;
  padding-top: 8em;
  padding-bottom: 8em;
  h3 {
    font-weight: 300;
    line-height: 1.3;
    font-size: 49px;
    letter-spacing: 4px;
  }
  h4 {
    font-size: 29px;
  }
  @media (max-width:700px){
    padding-top: 2em;
    padding-bottom: 2em;
    h3{
        font-size: 31px;
    }
    h4 {
    font-size: 24px;
    }
  }
}

// Small Black section under blue on workhops page
.container-black {
  background-color: #000;
}

.workshops-container{
  .heading-small{
      font-size: .6em;
    }
  h6{
    font-weight: 600;
    line-height: 1.7;
    font-size: 1.2em;
  }
  h5{
    font-size: 28px;
  }
  h4{
      font-size: 32px;
      line-height: 1.5;
    }
  h3{
    text-transform: none;
    font-weight: 200;
    font-size: 22px;
    font-style: italic;
    text-transform: none;
    margin: 3em 0;
    letter-spacing: .1em;
    line-height: 1.7;
  }
  .container-yellow{
    padding: 2em 4em;
    ul{
      list-style: none;
      margin:0;
      -webkit-padding-start: 15px;
    }
    li{
      font-size: 19px;
      line-height: 1.6;
    }
    ul li:before{
      content:"•";
      font-size:15pt;
      padding-right: 15px;
    }
    @media (max-width:600px){
      padding: 1em 0;
      ul{
        padding-left: 3em;
      }
      ul li:before {
        font-size: 15pt;
        padding-right: 0px;
        position: relative;
        left: -20px;
      }
    }
  }
  @media (max-width:700px){
    padding-top: 0;
    padding-bottom: 0;
    h1{
      margin-top: 70px;
    }
    h4{
      font-size: 26px;
      line-height: 1.4;
    }
  }
  @media (max-width:600px){
    .heading-small{
      font-size: .5em;
    }
  }
  @media (max-width: 535px){
  h5 {
      font-size: 25px;
    }
  h6 {
      font-size: 15px;
    }
  }
}

// Workshops Page Testimonial Section
.workshops-testimonial-container {
  background-image: url('../img/b_w_lines.jpg');
  background-size:cover;
  margin-bottom: 1em;
  text-align: center;
  .testimonial {
    background-color: white;
    background-size:cover;
    color: #000;
    margin: 8em auto;
    max-width: 900px;
    padding: 4em;
    width: 95%;
    h4 {
      font-weight: 500;
      margin-top: 0;
      letter-spacing: .05em;
    }
    .button-group{
      margin-bottom: 0;
    }
  }
  @media (max-width:725px){
    margin-top: 2em;
    h4{
      font-size: 29px;
      padding: 0!important;
      line-height: 1.4;
    }
    .testimonial {
    margin: 3em auto;
    padding: 1.5em;
    }
  }
}

// Small Blue section under testimonials section on workshops page
.container-blue {
  background-color: @brand-primary;
  @media (max-width:535px){
    h4 {
      font-size: 21px;
    }
  }
}


.underline-white {
  position: relative;
  &:after {
    content: "";
    background:white;
    bottom: 3px;
    height: 11px;
    left: -3px;
    position: absolute;
    right: 5px;
    z-index: -1;
  }
}




//Mobile Styles
@media (max-width:1170px){
  h1{
    font-size: 180px;
  }
}

@media (max-width:915px){
  h1{
      font-size: 142px;
  }
  h3{
    font-size: 40px;
  }
  .navigation-container a{
    letter-spacing: 0;
  }
}

@media (max-width:800px){
  .navigation-container {
    display: inline-flex;
    .navigation{
      display: block
    }
    .navigation-item{
      display: block;
      margin-bottom: 10px;
    }
    a{
      letter-spacing: 0.1em;
      font-size: 1.2em;
    }
  }
  h1{
    margin-top: 55px;
  }
}

@media (max-width:777px){
  .visible-xs {
    display: inline-block!important;
  }
  .button-group .btn {
    margin-right: 2em;
  }
}

@media (max-width:725px){
  h1{
    font-size: 105px;
  }
  h3{
      font-size: 32px;
    }
}

@media (max-width:655px){
  .navigation-container .logo {
    width: 54%;
  }
}

@media (max-width:535px){
  h1{
      font-size: 79px;
    }
  h4{
    font-size: 27px;
    line-height: 1.5;
    padding-left: 0.5em;
  }
  h5{
    font-size: 25px;
  }
  h6{
    font-size: 15px;
  }
  .btn.btn-ghost.visible-xs {
    padding-left: 2.6em;
    padding-right: 2.6em;
  }
  .container-what{
    h1{
      font-size: 76px;
    }
  }
}

@media (max-width:405px){
  h1{
      font-size: 78px;
  }
  .button-group .btn:first-child{
    margin-right: 0;
  }
  .client-logos-row {
    text-align: center;
    .img-container{
      width: 100%;
      max-width: 72%;
      margin-bottom: 2em;
    }
  }
}

